.VehiclesCards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
  width: 300px;
  background-color: var(--bg-gray);
  font-size: 0.8rem;
  border-radius: 20px;
}

.VehiclesCards img {
  display: block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.VehiclesCards .vehiclesCardsContainer {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}

.VehiclesCards .vehType {
  color: yellowgreen;
}

.VehiclesCards .vehStatus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.VehiclesCards .status {
  border: 1px solid green;
  padding: 10px;
  border-radius: 10px;
}

.VehiclesCards .vehDetails {
  display: flex;
  justify-content: space-between;
}

.VehiclesCards .vehDetails div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.VehiclesCards .vehDetails .title {
  color: var(--gray);
}

.VehiclesCards .vehDetails .detailsData {
  font-size: 0.7rem;
  display: flex;
  flex-direction: row;
}

.VehiclesCards .ownerContainer {
  display: flex;
  gap: 5px;
}

.VehiclesCards .host {
  color: rgba(153, 205, 50, 0.752);
}

.VehiclesCards .btnsContainer {
  display: flex;
  gap: 10px;
}
