.Home h1 {
  font-size: 2.2rem;
}

/* Top Btns */
.Home .btnsContainer {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.Home .btnsContainer a {
  border-radius: 10px;
}

.Home .browseVehiclesBtn {
  border-radius: 0.75rem;
  padding: 0.875rem;
  color: #ffffff;
  background-image: linear-gradient(
    to right,
    #0ea5e9,
    #1d4ed8,
    #0ea4e99a,
    #1d4ed8
  );
  background-size: 200% auto;
  transition: background-position 1s ease;
}

.Home .browseVehiclesBtn:hover {
  background-position: center;
}

.Home .myVehiclesBtn {
  background: var(--bg-gray);
  color: white;
  border: var(--cards-border);
}

.Home .myVehiclesBtn:hover {
  background: transparent;
  color: rgba(255, 255, 255, 0.75);
}

.Home .myVehiclesBtn:active {
  background: rgba(255, 255, 255, 0.03);
}

/*  Top Cards */

.Home .topCardsContainer {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

/* Mid Cards */
.Home .midCardsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  padding-bottom: 30px;
}

/* Bottom Cards */
.bottomCardsContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
